$name-color: #fff;
$sidebar-font-color: #ababab;
$sidebar-hover-color: #483543;
$dark-text: #386a8f;
$logo-color: #56C4B7;



body, html {
    background: #ccd8dc;
    height: 100%;
}

a, p, ul li, h1, h2 {
    text-decoration: none;
    font-family: 'Source Sans Pro';
}

span.intro {
    color: #000;
    text-align: center;
    font-weight: 300;
    font-size: 2.8em;
    margin-top: 60px;
}

h2 {
    text-align: left;
    font-size: 1.5rem;
    color: #000;
    border-bottom: solid 1px #000;
    text-transform: uppercase;
}



#main-container {
    background: transparent;
}

nav.top-bar {
    background: transparent;
    padding-right: 25px;
    padding-left: 25px;
}

nav.top-bar .top-bar-section ul li {
    background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
}

nav.top-bar ul#main-menu li a {
    background: transparent;
}


#left-bar {
    padding-left: 0;
}

.ep-logo {
    display: inline-block;
    margin-left: 10px;
    height: 1.8rem;
}

#name, .sub-title {
  text-align: center;
  display: inline-block;  
}

#name {
    color: $name-color;
}
.sub-color {
    color: $sidebar-font-color;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#main-menu {
    
}
ul#main-menu li a {
    // background: $dark-color;
    display: block;
    width: 100%;
    margin-left: 10px;
    color: $sidebar-font-color;
}


ul#main-menu li a:hover {
    background: $sidebar-hover-color;
}

#content {
    background: transparent;
    min-height: 600px;
}



section.specialization {
    background-color: $logo-color;
    padding: 3rem;
}

.skill-icons {
    margin: 20px 0 40px 0;
}

ul.skills {
    margin-bottom: 100px;
}

ul.skills li {
    font-weight: bold;
    color: #4634a4;
}


// mobile layout 
@media only screen and (max-width: 40em) {

    #left-bar {
        padding-bottom: 20px;

    }

    ul#main-menu, ul.skills {
        margin: 20px 0;
    }


    ul#social-menu {
        padding-bottom: 30px;
    }

    #content {
        text-align: center;
    }

}

