
$blue: #519CD1;
$lightblue: #55C6DB;
$logoteal: #56C4B7;
$brightgreen: #55DBA5;
$green:#51D179;
$drakblue:   #386a8f;
$dark-grey: #333333;

$name-color:$drakblue;
$sidebar-font-color: #ababab;
$sidebar-hover-color: #483543;
$dark-text:$drakblue;
$logo-color: $logoteal;

$source-sans: 'Source Sans Pro', 'sans-serif';

$open-sans: 'Open Sans', 'sans-serif';
$roboto: 'Roboto', 'sans-serif';

$montserrat: 'Montserrat', sans-serif;

$fontfamily: $source-sans;

body, html {
    background: #fff;
    height: 100%;
}

a, p, ul li, h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-family: $montserrat;
    font-weight: 100;
}


.intro {
    background: url(../images/web-design-wireframe-sketch-negative-space.jpg) no-repeat center left;
    background-size: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 2.8em;
    margin-top: 60px;

    .intro-text {
        padding: 50px 100px 100px 100px;

        .italicSans {
            font-family: $open-sans;
        }
    }
    span {
        background-color:rgba(0, 0, 255, .65);
    }

}

h2 {
    font-size: 2rem;
    color: $dark-grey;
    border-bottom: solid 1px $dark-grey;
    text-transform: uppercase;
}



#main-container {
    background: transparent;
}

#top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.top-bar.scrolled {
    $speed: 700ms;
    background-color: $dark-grey;
    color: #fff;
    -webkit-transition: background-color $speed linear;
    -moz-transition: background-color $speed linear;
    -o-transition: background-color $speed linear;
    -ms-transition: background-color $speed linear;
    transition: background-color $speed linear;

    #name {
        color: #fff;
    }
}


nav.top-bar {
    background: transparent;
    padding-right: 25px;
    padding-left: 25px;

    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

    .top-bar-title {
        display: flex;
    }

    .top-bar-section ul li {
        background: transparent;

    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        background: transparent;
    }

    ul#main-menu li a {
        background: transparent;
    }

}
.top-bar .menu > li.social-icon {
    a {
       padding: 10px 5px;
        text-align: center;
    }
}

#left-bar {
    padding-left: 0;
}

.ep-logo {
    display: inline-block;
    margin-left: 10px;
    height: 2rem;
}

#name, .sub-title {
  text-align: center;
  display: inline-block;  
}

#name {
    color: $dark-grey;
    text-align: left;
    line-height: 17px;
    margin-left: 7px;
    font-size: 25px;
    line-height: 33px;
}
.sub-color {
    color: $sidebar-font-color;
    margin-top: 0;
}

.title-intro {
    font-weight: 600;
    font-size: 150px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;
    margin-left: -12px;
    text-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.top-bar .menu {
    background: transparent;

    li#experience:before,
    li#hire:before {
        content: '/';
        padding: 0 0px 0 9px;
        display: inline-block;
    }

    li a {
        // background: $dark-color;
        display: inline-block;
        margin-left: 10px;
        color: inherit;

        &:hover {
            color: #03baca;
        }

    }
}

#content {
    background: transparent;
    min-height: 600px;
}


.social-menu {
    display: flex;
    flex-direction: row;
    li {
        font-size: inherit;
        flex-grow: 1;
        text-align: center;
        a {
            font-size: 55px;
            padding: 60px 10px;
        }
    }
} 



.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.25s ease-out;
    vertical-align: middle;
    border: 4px solid $drakblue;
    border-radius: 0;
    padding: 15px 35px;
    margin: 0 1rem 1rem 0;
    font-size: 1rem;
    // background: #1d92cf;
    background:transparent;
    color:$drakblue;
    text-transform: uppercase;

    &:hover {
        //background: #5f5f5f;
        background: #1d92cf;
        color: #fff;
    }

}

section.intro,
section.specialization,
section.contact,
section.skills,
section.about,
section.work
{
        padding: 3rem;
        h2 {
            padding-top:20px;
        }
}

section.intro {
    background-color: #000;
    h2 {
        color: #fff;
        border-bottom: solid 1px #fff;
    }
    h3 {
        margin-top: 75px;
        color: #fff;
    }
}


section.about {
    background-color: $logo-color;
    h2 {
        //color: #fff;
        //border-bottom: solid 1px #fff;
    }
    h3 {
        margin-top: 75px;
        //color: #fff;
    }
}


section.specialization {
    background-color: $lightblue;
    // color: #fff;
    h2 {
        // color: #fff;
        // border-bottom: solid 1px #fff;
    }
    h3 {
        margin-top: 75px;
        //color: #fff;
    }

}

.special-icon {
    margin: 10px;
    height: 80px;
}

.eric-perez-headshot {
    margin: 10px;
}
.about-details-container {
       padding: 80px 0; 
}


section.contact {

    color: #fff;

    h2 {
        //border-bottom: solid 1px #fff;
    }
    h3 {
        margin: 70px 0;
    }

    input {
         border: solid 4px #fefefe;
        -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
        box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
        -webkit-transition: -webkit-box-shadow 200ms ease-out;
        transition: box-shadow 200ms ease-out;
        border-radius: 0;
    }

}

.skill-icons {
    margin: 20px 0 40px 0;
}

ul.skills {
    margin-bottom: 100px;
}

ul.skills li {
    font-weight: bold;
    color: #4634a4;
}

.portfolio .column {
    padding: 31px;
}
.thumbnail {
    border: solid 4px #fefefe;
    -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    -webkit-transition: -webkit-box-shadow 200ms ease-out;
    transition: box-shadow 200ms ease-out;
    border-radius: 0;
    margin-bottom: 1rem;
}


.submit-button {
    background: transparent;
    border: solid 2px #fff;
    padding: 15px 35px;
    margin: 20px auto;
    color: #fff;
    text-transform: uppercase;
}

#toTop {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    display: inline-block;
    padding: 13px 15px;
    border-radius: 3px;
    background: $brightgreen;
    border: none;


    position: fixed;
    right: 20px;
    top: 300px;
}

footer {
    padding: 3rem;
    padding: 3rem;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

// mobile layout 
@media only screen and (max-width: 40em) {

    #left-bar {
        padding-bottom: 20px;

    }

    ul#main-menu, ul.skills {
        margin: 20px 0;
    }


    ul#social-menu {
        padding-bottom: 30px;
    }

    #content {
        text-align: center;
    }

}

