doctype html


html.no-js
    head
        title Eric Perez Frontend Developer
        include includes/head.jade
    body

        include includes/mixins.jade

        include includes/header.jade

        section.intro
            .row
                .columns.medium-12
                    p.intro-text <span class="italicSans">Thank you.</span> <br /> If you made it here, it means your email has been sent to me. I will be in contact with you shortly. <br /> - Eric Perez


        include includes/footer.jade