doctype html


html.no-js
    head
        title Eric Perez Frontend Developer
        include includes/head.jade
    body

        include includes/mixins.jade

        include includes/header.jade

        section.intro
            .row
                .columns.medium-12
                    p.intro-text <span class="italicSans">Hello</span>. My name is <strong>Eric Perez</strong>. <br /> I have been developing and desiging sites since 2005. I started my career in print and started to apply those skills to web development.
        section.specialization
            .row
                .columns.medium-12
                    h2 I Specialize In
                    .row
                        .columns.small-4.text-center
                            h3 Interaction
                            img.special-icon(src="images/icon_interaction.png")
                            p A key area of focus in my design process is to ensure the best interaction for each situation to guide the user, as this is essential in creating engaging, effective, and unique experiences.
                        .columns.small-4.text-center
                            h3 Responsive Design
                            img.special-icon(src="images/icon-responsive.png")
                            p I have gained experience designing and building many responsive websites. I have developed an approach to testing and developing solutions in the browser.
                        .columns.small-4.text-center
                            h3 Design
                            img.special-icon(src="images/icon_design.png")
                            p My interests in different fields has helped me to stay interested, open to new ideas, and flexible. These attributes have been essential in coming up with creative ideas.
        
        section#work.work
            .row
                .columns.medium-12
                    h2 Work  
                    +portfolio

        section#abouteric.about
            .row
                .columns.medium-12
                    h2 About

                    .row.align-middle.about-details-container
                        .column.small-5.text-center
                            img.eric-perez-headshot(src="images/EricPerezDev.png")
                        .column.small-7.align-self-middle
                            p <i class="fa fa-home" aria-hidden="true"></i> Chandler, Arizona
                            p I'm Eric Perez, a Senior UI Engineer working at VisualVault.
                            p I enjoy developing & desiging large scale front-ends, playing around with new technologies and the challenge of the ever changing world of front-end technology.
                            p If you want to find out more about me, you find me on Twitter, my blog or drop me an email – it'd love to hear from you.


        section.skills
            .row
                .columns.medium-12
                    h2 Skills
                    .row 
                        .medium-6.columns
                            +skillinfo(
                                'Frontend',
                                'I started out as a frontend guys about 15 years ago, fully equipped with FrontPage 98 and ready to rock the early internets.',
                                '  ')
                            +skills('HTML5', 'CSS3', 'JADE', 'SASS', 'LESS', 'JAVASCRIPT', 'XML')
                        .medium-6.columns
                            +skillinfo(
                                'Backend',
                                'Out of necessity, I learned bbackend development while launching several internet-based buisnesses starting in 2002.',
                                ' ')
                            +skills('PHP', '.NET', 'NODEJS', 'C#', 'SQL', 'JAVASCRIPT', 'XML')
            .row
                .columns.medium-12.text-center
                    a.button(href="EricPerezFrontendDeveloperResume.pdf") Download Resume

        section#contactform.contact
            .row
                .columns.medium-12
                    h2 Contact
                    
                    h3.text-center Please fill out and we’ll be in touch shortly.

                    form(name="form", method="post", action="/contactform/contactscript.php")
                        .row
                            div.column.medium-6
                                input(type="text", name="name", size="25", maxlength="200", placeholder="Name" ) 

                            div.column.medium-6
                                input(type="text", name="email", size="25", maxlength="100", placeholder="Email" ) 

                        div    
                            textarea(name="msg", cols="25", rows="4", placeholder="Message")

                        div.text-center
                            input.submit-button( type="submit", name="Submit", value="Submit" ) 



        a#toTop(style="display:none;") Back to Top 

        include includes/footer.jade