script(src='js/vendor/jquery.js')
script(src='js/vendor/what-input.js')
script(src='js/vendor/foundation.js')
script(src='js/vendor/lightbox.js')
script(src='js/vendor/jquery-scrollto.js')
script(src="https://use.fontawesome.com/b9288fe549.js")
script(src='js/app.js')


footer
    .row
        .columns.medium-12
            span &copy; 2016 Eric Perez