include ./mixins.jade


nav#top-nav.top-bar(role="navigation")
    .top-bar-title
        span(data-responsive-toggle="responsive-menu", data-hide-for="medium")
            button.menu-icon.dark(type="button", data-toggle)    
        //img.ep-logo(src='images/Ep_Logo.png')
        a#name(href='#') Eric Perez 
        //br Frontend Developer
    div#responsive-menu
        .top-bar-right
            +socialLinks("menu")

        +mainNav
